footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 187px;
}

.logos-footer{
    display: flex;
    justify-content: space-between;
}

.info-footer{
    display: flex;
    justify-content: space-between;
}

.links-footer{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.links-footer a{
    text-decoration: none;
    color: #898989;
}

.links-footer a:hover{
    text-decoration: underline;
}