@import url(header.css);
@import url(footer.css);
@import url(/css/components/components.css);

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 100vh
}

.container{
    margin: 0 auto;
    width: 84%;
    max-width: 1200px;
}

/*IMAGENS*/

.img-fundo{
    width: 100%;
}

/*SEÇÃO SOMOS*/

.secao-somos{
    position: relative;
}

.info-somos{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-somos p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/*SEÇÃO SOBRE NÓS*/

.secao-sobre-nos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 688px;
}

.info-sobre-nos{
    width: 493px;
}

/* SEÇÃO NOSSOS SERVIÇOS*/

.secao-servicos{
    position: relative;
}

.info-servicos{    
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 493px;
}

/*SEÇÃO DEPOIMENTOS*/

.secao-depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 688px;
    width: 100%;
    background-color: #F6F6F6;
}

.depoimentos{
    display: flex;
    justify-content: space-between;
}

.depoimentos-pessoas{
    width: 580px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.depoimentos-pessoas:nth-child(1){
   margin-right: 40px;
}


.info-perfil{
    display: flex;
    margin-bottom: 10px;
}

.info-perfil img{
    margin-right: 19px;
}

.info-pessoa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nome-pessoa{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 3px 0;
}

.data-publicacao{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

.depoimentos-pessoas > p{
    margin: 0;
}

/*SEÇÃO FUNCIONALIDADE*/

.secao-funcionalidade{
    background: linear-gradient(105.92deg, #515070 -8.44%, #6B69B0 94.86%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.secao-funcionalidade > h1{
    padding-top: 59px;
}

.info-funcionalidade{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.und-funcionalidade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 138px;
}

.und-funcionalidade img{
    width: 50px;
    height: 50px;
}

.und-funcionalidade p{
    margin: 0 0 0 20px;
}

/*SEÇÃO FUNCIONALIDADE*/

.secao-fale-conosco{
    height: 688px;
    background-color: #F6F6F6;
}

.conteudo-fale-conosco{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-fale-conosco{
    width: 493px;
}


@media (max-width: 1200px){
    .secao-sobre-nos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 688px;
    }
    .secao-sobre-nos img{
        order: -1;
    }
}