@import url(header.css);
@import url(footer.css);
@import url(/css/components/components.css);

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    margin: 0 auto;
    width: 84%;
    max-width: 1200px;
}

/*IMAGENS*/

.img-fundo{
    width: 100%;
}

/*SEÇÃO SOMOS*/

.secao-somos{
    position: relative;
}

.info-somos{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.info-somos p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/*SEÇÃO SOBRE NÓS*/

.secao-sobre-nos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 688px;
}

.info-sobre-nos{
    width: 493px;
}

/* SEÇÃO NOSSOS SERVIÇOS*/

.secao-servicos{
    position: relative;
}

.info-servicos{    
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 493px;
}

/*SEÇÃO DEPOIMENTOS*/

.secao-depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 688px;
    width: 100%;
    background-color: #F6F6F6;
}

.depoimentos{
    display: flex;
    justify-content: space-between;
}

.depoimentos-pessoas{
    width: 580px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.depoimentos-pessoas:nth-child(1){
   margin-right: 40px;
}


.info-perfil{
    display: flex;
    margin-bottom: 10px;
}

.info-perfil img{
    margin: 0 19px 10px 0;
    height: 80px;
    width: 80px;
}

.info-pessoa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nome-pessoa{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 3px 0;
}

.data-publicacao{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

.depoimentos-pessoas > p{
    margin: 0;
}

/*SEÇÃO FUNCIONALIDADE*/

.secao-funcionalidade{
    background: linear-gradient(105.92deg, #515070 -8.44%, #6B69B0 94.86%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.secao-funcionalidade > h1{
    padding-top: 59px;
}

.info-funcionalidade{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.und-funcionalidade{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 337px;
    height: 138px;
}

.und-funcionalidade img{
    width: 50px;
    height: 50px;
}

.und-funcionalidade p{
    margin: 0 0 0 20px;
}

/*SEÇÃO FUNCIONALIDADE*/

.secao-fale-conosco{
    height: 688px;
    background-color: #F6F6F6;
}

.conteudo-fale-conosco{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 50px 0;
}

.conteudo-fale-conosco img{
    width: 70%;
    max-width: 464px;
}

.info-fale-conosco{
    width: 493px;
}

/*RESPONSIVIDADE*/

@media (max-width: 1200px){
    /*COMPONENTES*/
    .titulo{
        font-size: 38px;
    }

    /*SEÇÃO SOBRE NÓS*/
    .secao-sobre-nos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: auto;
        padding: 50px 0;
    }
    .secao-sobre-nos img{
        order: -1;
        padding-bottom: 35px;
    }

    /*SEÇÃO FUNCIONALIDADES*/
    .info-funcionalidade{
        flex-direction: column;
    }

    .info-funcionalidade > img{
        order: 2;
    }

    .descr-funcionalidade{
        display: flex;
    }

    .descr-funcionalidade > div:nth-child(1){
        padding-right: 50px;
    }


    /*SEÇÃO FALE CONOSCO*/
    .secao-fale-conosco{
        height: auto;
    }
    .conteudo-fale-conosco{
        height: 100%;
        display: flex;
        flex-direction: column;       
        justify-content: space-between;
        align-items: center;
    }
    .conteudo-fale-conosco > img{
        padding-bottom: 35px;
    }
}

@media (max-width: 800px){
    .container{
        width: 90%;
    }
   /*SEÇÃO SOMOS*/
    .secao-somos{
        height: 760px;
        background-image: url(/assets/img/home-somos.jpg);
        background-size: cover;
    }

    .secao-somos > img{
        display: none;
    }

    /*SEÇÃO SOBRE NÓS*/
    .info-sobre-nos{
        width: 90%;
    }


    .secao-sobre-nos > img{
        width: 90%;
    }

    /*SEÇÃO NOSSO SERVIÇOS*/
    .secao-servicos{
        height: 760px;
        background-image: url(/assets/img/home-nossos-servicos.jpg);
        background-size: cover;
    }

    .secao-servicos > img{
        display: none;
    }

    .info-servicos{
        width: 90%;
    }

    /*SEÇÃO DEPOIMENTOS*/
    .secao-depoimentos{
        height: auto;
        align-items: center;
    }

    .info-depoimentos{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-depoimentos h1{
        font-size: 30px;
    }

    .info-perfil{
        flex-direction: column;
        align-items: center;
    }

    .info-pessoa{
        align-items: center;
    }

    .nome-pessoa{
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 500;
    }

    .depoimentos{
        display: flex;
        flex-direction: column;
    }

    .depoimentos-pessoas{
        margin-bottom: 20px;
        width: 90%;     
    }

    .depoimentos-pessoas p{
        text-align: center;
    }

    .depoimentos-pessoas:nth-child(1){
        margin: 0;        
        margin-bottom: 20px;
    }

    /*SEÇÃO FUNCIONALIDADES*/
    .descr-funcionalidade{
        display: flex;
        flex-direction: column;
    }

    .descr-funcionalidade > div:nth-child(1){
        padding-right: 0px;
    }

    /*SEÇÃO FALE CONOSCO*/
    .conteudo-fale-conosco{
        width: 90%;
    }

    .info-fale-conosco{
        width: 90%;
    }

    /*FOOTER*/
   
    .info-footer{
        display: none;
    }

    header{
        display: none;
    }
}